@tailwind base;
@tailwind components;
@tailwind utilities;


/*
This extends the original react-reflex.css (from react-reflex@4.1.0),
with some custom colors and sizes
*/

@layer components {
  body .reflex-container > .reflex-splitter {
    @apply transition-all duration-200 ease-in-out bg-stone-600;
  }

  body .reflex-container > .reflex-splitter.active,
  body .reflex-container > .reflex-splitter:hover {
    @apply transition-all duration-200 ease-in-out bg-stone-400;
  }

  body .horizontal > .reflex-splitter {
    @apply h-[3px] bg-stone-600 border-t-stone-600 border-b-stone-600;
  }

  body .reflex-container.horizontal > .reflex-splitter:hover,
  body .reflex-container.horizontal > .reflex-splitter.active {
    @apply  h-[3px] bg-stone-400 border-t-stone-400 border-b-stone-800;
  }

  body .reflex-container.vertical > .reflex-splitter {
    @apply w-[3px] bg-stone-600 border-l-stone-400 border-r-stone-600;
  }

  body .reflex-container.vertical > .reflex-splitter:hover,
  body .reflex-container.vertical > .reflex-splitter.active {
    @apply  w-[3px] bg-stone-400 border-l-stone-400 border-r-stone-400;
  }
}